priority -40

snippet zentity "Zend1 / Model / Table Row" b
<?php
/**
 * This file is part of the Partfiniti package.
 *
 * @copyright Copyright (c) 2016 Partfiniti Inc. (https://www.partfiniti.com)
 */

/**
 * `!p snip.rv = snip.basename` Entity
 *
 * @author Sergiu-Ioan Ungur
 *
 * @see Zend_Db_Table_Row_Abstract
 */
class ${1}_`!p snip.rv = snip.basename or "Module_Entity"` extends Zend_Db_Table_Row_Abstract
{
	${0}
}
endsnippet
