priority -40

snippet zentity "Zend1 / Model / Entity" b
<?php
/**
 * This file is part of the Partfiniti package.
 *
 * @copyright Copyright (c) `!v strftime("%Y")` Partfiniti Inc. (https://www.partfiniti.com)
 */

/**
 * ${1} Entity.
 *
 * @author Sergiu-Ioan Ungur
 *
 * @see $2
 */
class ${3}_`!p snip.rv = snip.basename or "Entity"` extends ${2:Base_Entity}
{
}
endsnippet
