priority -40

snippet zentevent "Zend1 / Event / EntityEvent" b
<?php
/**
 * This file is part of the Partfiniti package.
 *
 * @copyright Copyright (c) `!v strftime("%Y")` Partfiniti Inc. (https://www.partfiniti.com)
 */

/**
 * ${1} Event
 *
 * @author Sergiu-Ioan Ungur
 *
 * @see ${2:Base_EntityEvent}
 */
class ${3}_`!p snip.rv = snip.basename or "EntityEvent"` extends ${2:Base_EntityEvent}
{
    /**
     * @const NAME
     */
    const NAME = '${4}';
}
endsnippet
