priority -40

snippet zph "Zend1 / Partfiniti / Header" b
<?php
/**
 * This file is part of the Partfiniti package.
 *
 * @copyright Copyright (c) `!v strftime("%Y")` Partfiniti Inc. (https://www.partfiniti.com)
 */
endsnippet
