priority -40

snippet tdr "Utils / TODO remove" b
// TODO remove
endsnippet

snippet tdr "Utils / TODO uncomment" b
// TODO uncomment
endsnippet

snippet td? "Utils / TODO???" b
// TODO???
endsnippet

snippet dbd "Utils / Debugger - Dump" b
Utils_Debugger::dump('${1}', $1);
endsnippet
